<html><head> <title>EB Flask Test</title> </head><body>
<script src="https://d3js.org/d3.v4.js"></script>
<div id="viz"></div>
<script>
// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// Read the data
var graphData = {{ data.chart_data | safe }}
// Parse date
// graphData = d3.map(graphData, function(d) {d3.timeParse("%Y-%m-%d")(d.date)
// Group by state name
var grouped = d3.nest()
    .key(function(d) { return d.state;})
    .entries(graphData);
console.log(grouped)

// var states = grouped.map(function(d){ return d.key })
// console.log(states)

for (id in grouped) {
  var entry = grouped[id]
  var state = entry.key
  console.log("Drawing " + state)
  console.log(entry.values)
  draw(state, entry.values)
  // break
}

function draw(name, data) {
  // append the svg object to the body of the page
  var svg = d3.select("#viz")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  // Add X axis --> it is a date format
  var x = d3.scaleTime()
    .domain(d3.extent(data, function(d) { return d3.timeParse("%Y-%m-%d")(d.date); }))
    .range([ 0, width ]);
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).ticks(5));
  // Add Y axis
  var y = d3.scaleLinear()
    .domain(d3.extent(data, function(d) { return d.new_cases; }))
    .range([ height, 0 ]);
  svg.append("g")
    .call(d3.axisLeft(y));
  // Add the line
  svg.append("path")
    .datum(data)
    .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
    .attr("d", d3.line()
      .x(function(d) { return x(d3.timeParse("%Y-%m-%d")(d.date)) })
      .y(function(d) { return y(d.new_cases) })
      )
  svg.append("path")
    .datum(data)
    .attr("fill", "none")
      .attr("stroke", "red")
      .attr("stroke-width", 1.5)
    .attr("d", d3.line()
      .x(function(d) { return x(d3.timeParse("%Y-%m-%d")(d.date)) })
      .y(function(d) { return y(d.smoothed_9d) })
      )
  svg.append("text")
        .attr("x", (width / 2))             
        .attr("y", 5)
        .attr("text-anchor", "middle")  
        .style("font-size", "16px") 
        // .style("text-decoration", "underline")  
        .text(name);

  // Add the points
  // svg
  //   .append("g")
  //   .selectAll("dot")
  //   .data(data)
  //   .enter()
  //   .append("circle")
  //     .attr("cx", function(d) { return x(d3.timeParse("%Y-%m-%d")(d.date)) } )
  //     .attr("cy", function(d) { return y(d.new_cases) } )
  //     .attr("r", 5)
  //     .attr("fill", "#69b3a2")
  }

// draw(graphData)
// // margin.top = margin.top + height
// var svg = d3.select("#viz")
//   .append("svg")
//     .attr("width", width + margin.left + margin.right)
//     .attr("height", height + margin.top + margin.bottom)
//   .append("g")
//     .attr("transform",
//           "translate(" + margin.left + "," + margin.top + ")");
// draw(graphData)
</script> 